@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/wallpaper-ipad.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

@media screen and (max-width: 425px) {
  :root {
    background-size: auto;
  }
}
